* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

.navbar {
  padding: auto;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/horizon.jpg");
  justify-content: space-between;
}

.navbar-container {
  height: 80px;
  width: 100%;
  max-width: 1300px;
  float: right;
  padding-top: 15px;
  font-size: 20px;
  list-style: none;
}

.intro {
  padding-top: 100px;
  justify-content: center;
  position: absolute;
}
.intro h1 {
  font-size: 36px;
}

.name {
  color: purple;
  font-style: italic;
  border-bottom: none;
}

.name:hover {
  color: rgb(65, 82, 238);
  list-style-type: none;
  transition: all 0.3s ease;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

a {
  color: blue;
  font-weight: bold;
}

a:hover {
  color: purple;
  transition: all 0.3s ease;
}
.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.menu-item {
  height: 80px;
}
